
.image-slider-container {
  overflow: hidden;
  position: relative;
  width: 500px;
  margin: auto;
}

.image-container {
  display: flex;
  transition: transform 2s ease-in-out;
}

img {
  flex-shrink: 0;
  width: 100%;
}

.left, .right {
  transform: translateY(-50%);
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  color: #fff;
  cursor: pointer;
}

.left { 
  left: 1rem;
}

.right {
  right: 1rem;
}

.arr {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn {
  padding: 5px;
  border-radius: 50%;
  border: none;
  margin: 0 0.1rem;
  cursor: pointer;
}

.active {
  background: #555;
}