.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  width: 100vw;
  color: #fff;
  height: 100vh;
  background: #0D1B5B;
  overflow-y: auto;
}

a {
  color: white;
  /* width: 100%; */
  padding: 1rem;
}

.list-container {
  width: 80%;
  margin: auto;
}

.project-li {
  display: block;
  border: 1px solid #fff;
  border-radius: 1rem;
  margin: 1rem 0;
}

a:hover {
  background: #f0f0f0;
  color: #555;
}

